.columns
  .column
    h1.title
      = @artists.size
      '
      | Artists
.columns
  .column
    - @artists.each_slice(4) do |slice|
      .columns
        - slice.each do |artist|
          .column.is-one-quarter
            .card
              .card-image
                figure.image.is-4by4
                  - if artist.image.present?
                    = image_tag artist.image.variant(combine_options: { resize: '320x320^', gravity: 'center', extent: '320x320' })
                  - else
                    img src="https://bulma.io/images/placeholders/480x480.png" /
              .card-content
                .media
                  .media-content
                    p.title.is-6 = link_to artist.name, artist_path(artist)
                    p.subtitle.is-7 @johnsmith

