.columns.is-vcentered
  .column.is-narrow
    - if @artist.image.present?
      figure class="image"
        image-uploader image=url_for(@artist.image.variant(combine_options: { resize: '320x320^', gravity: 'center', extent: '320x320' }))  artist-id=@artist.id
    - else
      image-uploader artist-id=@artist.id
  .column
    h1.title = @artist.name
.columns
  .column
    hr
    h3.title.is-size-6 Albums
    - @albums.each_slice(4) do |slice|
      .columns
        - @albums.each do |album|
          .column.is-one-quarter
            = render album
