<template>
  <div id='uploader'>
    <picture-input 
      ref="pictureInput" 
      @change="onChange"
      @remove="onRemove"
      width="600" 
      height="600" 
      margin="16" 
      accept="image/jpeg,image/png,image/2q==" 
      size="10"
      buttonClass="button is-small"
      removeButtonClass="button is-small"
      :prefill=image
      :removable="true"
      :customStrings="{
        remove: 'Delete',
        change: 'Change',
        upload: '<h1>Upload it!</h1>',
        drag: 'Drag a drop your image here'
      }">
    </picture-input>
  </div>
</template>

<script>
import PictureInput from 'vue-picture-input'
import FormDataPost from '../custom/upload.js';

export default {
  name: 'uploader',
  data () {
    return {
    }
  },
  components: {
    PictureInput
  },
  methods: {
    onChange () {
      if (this.$refs.pictureInput.image) {
        this.attempUpload(this.$refs.pictureInput.file)
      } else {
        console.log('FileReader API not supported: use the <form>!')
      }
    },
    onRemove() {
      this.attempUpload()
    },
    attempUpload(image) { 
      FormDataPost(`/artists/${this.artistId}/image`, image)
        .then(response=>{
          console.log("Uploaded picture successfully");
        })
        .catch(err=>{
          console.error(err);
        });
    },
  },
  props: ['artistId', 'image']
}
</script>

<style>
  button {
    margin-bottom: 0; 
  }
  #uploader {
    width: 160px;
  }
  .preview-container {
    margin: 2rem 0 0 0;
    width: 899px !important;
  }
  .picture-preview {
    border-radius: 290486px;
  }
</style>
