.columns
  .column
    h1.title
      = @songs.size
      '
      | Songs
.columns
  .column
    table.table.is-fullwidth
      thead
        tr
          th width=10 #
          th Name
          th Artist
          th Album
      tbody
        - @songs.each_with_index do |song, index|
          tr
            td = index + 1
            td = song.name
            td = song.album.artist.name
            td = song.album.name