.card
  .card-image
    figure.image.is-4by3
      img alt=("Placeholder image") src="https://bulma.io/images/placeholders/1280x960.png" /
  .card-content
    .media
      /.media-left
        figure.image.is-48x48
          img alt=("Placeholder image") src="https://bulma.io/images/placeholders/96x96.png" /
      .media-content
        p.title.is-6 = link_to album.name, album_path(album)
        p.subtitle.is-7 @johnsmith
    /.content
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      | Phasellus nec iaculis mauris.
      a href="#" #css
      a href="#" #responsive
      br/
      time datetime="2016-1-1"  11:09 PM - 1 Jan 2016