.columns
  .column
    h1.title
      = @albums.size
      '
      | Albums
.columns
  .column
    - @albums.each_slice(4) do |slice|
      .columns
        - slice.each do |album|
          .column.is-one-quarter
            = render album
