.columns.is-vcentered
  .column.is-narrow
    figure class="image is-128x128"
      img src="https://bulma.io/images/placeholders/128x128.png"
  .column
    h1.title = @album.name
    h4.subtitle
      | by 
      = @album.artist.name
    hr
.columns
  .column
    table.table.is-fullwidth
      thead
        tr
          th width=10 #
          th Name
      tbody
        - @songs.each_with_index do |song, index|
          tr
            td = index + 1
            td = song.name
