
nav.navbar aria-label=("main navigation") role="navigation" 
  .navbar-brand
    a.navbar-item href=root_url
      span.icon.is-medium
        i.fab.fa-itunes-note.fa-2x
    a.navbar-burger.burger aria-expanded="false" aria-label="menu" data-target="navbarBasicExample" role="button" 
      span aria-hidden="true" 
      span aria-hidden="true" 
      span aria-hidden="true" 
  #navbarBasicExample.navbar-menu
    .navbar-start
      / Search input
    .navbar-end
      .navbar-item
        .buttons
          a.button.is-link.is-light href="https://gitlab.com/hernanvicente/swp" target="_blank"
            span.icon.is-small
              i.fab.fa-gitlab
            span GitLab
