doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title
      | Swp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    script crossorigin="anonymous" src="https://kit.fontawesome.com/fdbe6874d8.js"
  body
    = render 'layouts/navbar'
    section#vue-container
      .columns
        .column.is-2.sidebar-nav
          h1.title.is-size-5 Library
          ul
            li = link_to 'artists', artists_path, class: 'navbar-item'
            li = link_to 'albums', albums_path, class: 'navbar-item'
            li = link_to 'songs', songs_path, class: 'navbar-item'
        .column.main-content
          = yield
